<p>The Terms & Conditions (T&C) are also known as Terms of Service or Terms of Use. This article and outline will help
    you draft and write a basic yet complete Terms & Conditions for your app or website.

    The Terms & Conditions act as a contract between you and your users so you can control liability, manage use,
    protect your intellectual property, and enforce rules. While it's not legally required in any jurisdiction, it can
    make managing your website or app much easier.
    Set Your Ground Rules
    You likely have rules for the usage of your app or website. For example, if you run a photo sharing site, you may
    prohibit sexually explicit material from being uploaded and shared on your site.

    There may be age limits on who uses your app or website and those need to be enforceable, too. Some websites and
    apps require payment of subscription fees.

    Make a list of any limits and rules regarding your website or app. You will work these into your Terms & Conditions
    agreement when you draft it.

    Decide Agreement Location
    Once you finish your Terms & Conditions, you need to post it in a conspicuous location.

    On websites, the Terms & Conditions should be accessible through links. Many companies post links to the Terms &
    Conditions throughout their website pages, usually in the footer.

    If there is a sign-up form, acceptance of the Terms & Conditions should be mandatory before setting up an account.
</p>



<div class="terms-condition">
    <section class="example-section" (click)="termsConditionTrue()">
        <mat-checkbox class="example-margin">I accept all the terms and conditions</mat-checkbox>
    </section>

    <button *ngIf="termsCondition" class="button-personal-info">Submit</button>

</div>