.main-div{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
}


.child-main-div{
    margin-top: 180px;
    height: 330px;
    width: 25%;
    background:  rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
}

.title{
    margin-left: 50px;
    margin-top: 20px;
    color: #A03037;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.name{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.button-main-div{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}


.login-navigate{
    width: 110px auto;
    height: 35px;
    background-color: #A03037;
    border: none;
    outline: none;
    font-size: small;
    color: white;
  font-weight: bold;

}

.data-binding-example{
    margin-top: 10px;
}

.main-body-tag{
    background-image: url("../../../assets/Images/white11.jpg");
    width: 100%;
     height: 963px;
     background-repeat: no-repeat;
    }

.register-button{
    width: 70px auto;
    height: 35px;
    background-color: #A03037;
    border: none;
    outline: none;
    font-size: small;
    color: white;
   font-weight: bold;
    border: 1px solid brown;
}


  
@media screen and (max-width:1200px) {

    .child-main-div{
     
        height: 400px;
        width: 45%;
  
    }
}


  
@media screen and (max-width:750px) {

    .child-main-div{
     
        height: 400px;
        width: 65%;
  
    }
}


 
@media screen and (max-width:500px) {

    .child-main-div{
        height: 900px;
        width: 100%;
        background: none;
    }

.name{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
}

// button-main-div{
//     display: flex;
//     justify-content: space-between;
//     margin-top: 30px;
//     margin-left: 0px;
//     margin-right: 0px;
// }
.button-main-div{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.title{
    margin-left: 25px;
    margin-top: 20px;
    color: #A03037;
}

.child-main-div{
    margin-top: 40px;
   
}
}
